<%# Ensure Devise helpers are defined %>
<% resource ||= User.new %>
<% resource_name ||= :user %>
<% devise_mapping ||= Devise.mappings[:user] %>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= render "application/head"%>
<%= link_to "Home",root_path%> &nbsp;&nbsp;&nbsp;
<div class="head">
  <head>
    <h2>
      Please sign in to create or edit control parts
    </h2>
  </head>

<br><br>
<h3>Sign in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "Log in" %>
  </div>
<% end %>

<hr>

<%= link_to "Sign in with Okta", user_okta_omniauth_authorize_path, class: "btn btn-outline-success w-100" %>

